
#
# Hardware Spinlock drivers
#
CONFIG_HWSPINLOCK_OMAP=y
CONFIG_CLKSRC_MMIO=y
CONFIG_IOMMU_API=ym
CONFIG_IOMMU_SUPPORT=m
CONFIG_OMAP_IOMMU=y
CONFIG_OMAP_IOVMM=y
CONFIG_OMAP_IOMMU_DEBUG=y

CONFIG_VIDEO_MT9V032=m

CONFIG_V4L_PLATFORM_DRIVERS=y
CONFIG_VIDEO_OMAP3=m
CONFIG_VIDEO_OMAP3_DEBUG=y
CONFIG_VIDEO_OMAP3_ISP=m
CONFIG_VIDEO_OMAP34XX_ISP_RESIZER=y
CONFIG_VIDEO_MT9T111=m

#
# SOC Components
#
CONFIG_SOC_CAMERA=y
CONFIG_SOC_CAMERA_MT9T112=m
